    @media(min-width:968px) {
        .homemain {
            background-image: url(../images/homebg.png);
            padding: 0;
            margin: 0;
            background-size: cover;
            height: 100vh;
        }
        .descp {
            margin: 10% 0 0 5%;
        }
        .descp h1 {
            font-size: 3rem;
            color: #12223E;
            font-family: 'Inter', sans-serif;
        }
        .descp1 {
            color: #3a3a3a;
            font-family: 'Inter', sans-serif;
            font-size: 1.5rem;
        }
        .descp2 {
            display: none;
        }
        .descp .fad {
            margin: 4% 0 0 0;
            padding: 1rem;
            font-size: 1rem;
            background-color: #12223E;
            border-radius: 5px;
            cursor: pointer;
        }
        .descp .fad a {
            color: rgb(226, 247, 255);
            text-decoration: none;
        }
        .abtus {
            height: 100vh;
            width: 100%;
            text-align: center;
            justify-content: center;
            margin: 0;
            padding: 0;
        }
        .abtus .serv {
            padding: 1rem 0 2rem 0;
            background-color: rgb(201, 225, 231);
        }
        .abtus .serv h1 {
            font-size: 3rem;
            font-weight: 800;
            color: #12223E;
        }
        .abtus .serv p {
            color: #3a3a3a;
            font-size: 1.2rem;
        }
        .badge {
            background-image: url(../images/badge.png);
            height: 50vh;
        }
        .panels {
            display: none;
        }
    }
    
    @media(max-width:968px) {
        .homemain {
            background-image: url(../images/homebg\ \(2\).png);
            background-size: cover;
            padding: 0;
            margin: 0;
            height: 90vh;
        }
        .descp {
            margin: 25% 0 0 5%;
        }
        .descp h1 {
            font-size: 150%;
            color: #12223E;
            font-family: 'Inter', sans-serif;
        }
        .descp1 {
            display: none;
        }
        .descp2 {
            color: #3a3a3a;
            font-family: 'Inter', sans-serif;
            font-size: 100%;
        }
        .descp .fad {
            margin: 4% 0 0 0;
            padding: .8rem;
            font-size: .8rem;
            background-color: #12223E;
            border-radius: 5px;
            cursor: pointer;
        }
        .descp .fad a {
            color: rgb(226, 247, 255);
            text-decoration: none;
        }
        .abtus {
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .abtus .serv {
            background-color: rgb(201, 225, 231);
            padding: 1%;
        }
        .abtus .serv h1 {
            font-size: 170%;
            font-weight: 600;
            text-align: center;
            font-family: 'Inter', sans-serif;
            color: #12223E;
        }
        .abtus .serv p {
            color: #3a3a3a;
            font-size: 100%;
            padding: 0 1%;
        }
        .badges {
            justify-content: center;
            text-align: center;
            padding: 5%;
        }
        .panels {
            color: #12223E;
        }
        #icon {
            font-size: 5rem;
        }
    }