    @media(min-width:968px) {
        .homemain {
            background-image: url(./images/homebg.png);
            padding: 0;
            margin: 0;
            background-size: cover;
            background-attachment: fixed;
            height: 100vh;
        }
        .descp {
            margin: 10% 0 0 5%
        }
        .descp h1 {
            font-size: 3rem;
            color: #12223E;
            font-family: 'Inter', sans-serif;
        }
        .descp p {
            color: #3a3a3a;
            font-family: 'Inter', sans-serif;
            font-size: 1.5rem;
        }
        .descp .fad {
            margin: 4% 0 0 20%;
            padding: 1rem;
            font-size: 1rem;
            background-color: #12223E;
            border-radius: 20px;
            cursor: pointer;
        }
        .descp .fad a {
            color: rgb(226, 247, 255);
            text-decoration: none;
        }
        .abtus {
            height: 100vh;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .abtus .serv {
            padding: 1rem 0 2rem 0;
            background-color: rgb(201, 225, 231);
        }
        .abtus .serv h1 {
            font-size: 3rem;
            font-weight: 800;
            color: #12223E;
        }
        .abtus .serv p {
            color: #3a3a3a;
            font-size: 1.2rem;
        }
        .badge {
            background-image: url(./images/badge.png);
            height: 50vh;
        }
        .doctors {
            height: 100vh;
            background-color: rgb(201, 225, 231);
        }
    }
    
    @media(max-width:968px) {
        .home {}
    }